link(rel='stylesheet', href='style/main.css')
h1 why hello there
p you sure are amazing, and here is why
ul
	li you're handsome
	li you're smart
	li#lastLine and doggone it, people like you

script(src='http://code.jquery.com/jquery-1.10.2.min.js')
script(src='js/app.min.js')